*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
 box-sizing: border-box;
  }



.navbar{
    height: 60px;
    background-color: rgba(181, 139, 209, 0.808) !important;
    box-shadow: 0 0 10px rgb(67, 235, 218) !important;

}

.navbar-brand img {
    height: 40px;

}

.nav-link{
    color: paleturquoise !important;
}

.jumbotron{
    height: 300px;
    width: 100%;
    background-image: url(IMAGENES/tarta\ de\ frutas\ varias.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 6px turquoise;
    }

    h1{
        color: black;
}

.jumbotron p{
color: black;
}

h2{
    text-align: center;
    background-color: rgb(255, 196, 206);
    color: black;
    padding: 20px;
    margin-bottom: 0;
    text-shadow: 0 0 6px turquoise, 0 0 6px turquoise
}

.nleft{
    height: 400px;
    background-image: url(IMAGENES/USAR.jpg);
    background-size: cover;
    background-position: center;
}

h3{
    background-color: plum;
}

article{
    border: 3px solid rgb(248, 169, 218);

}
h4{
    height: 400px;
    background-image: url(IMAGENES/tarta\ de\ frambuesa.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 6x black, 0 0 6px black;
    text-align: center;
}

h5{
    height: 400px;
    background-image: url(IMAGENES/pastel.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

h6{
    height: 400px;
    background-image: url(IMAGENES/torta\ de\ frutas.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
}

footer{
    background-color: rgba(181, 139, 209, 0.808) ;
    text-align: center;
    color: black;
    padding: 20px;

}

@media only screen and (min-width:0) and (max-width:576px) {
    .navbar-collapse{
        background-color: rgba(255, 218, 185, 0.651) !important;
        display: flex;
        justify-content: center !important;
    }
    
}